.Espacos {
    background-color: #ffffff;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;



    h2 {
        color: #171A1FFF;
        font-size: 48px;
        font-weight: 700;
        line-height: 48px;
        margin: 0;
    }

    p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        width: 672px;
        text-align: center;
        font-family: 'Outfit';
        color: #565D6DFF;
       

    }
}

.Categorias{
    display: flex;
    gap: 20px;
    margin-top: 2rem;
    margin-bottom: 5rem;
}
.btn {
  padding: 10px 20px; 
  font-family: Outfit; 
  font-size: 16px; 
  line-height: 26px; 
  font-weight: 500; 
  color: #FFFFFFFF; 
  background: #82A470FF; 
  opacity: 1; 
  border: none; 
  border-radius: 9999px; 
  cursor: pointer;
}
.btn:hover {
  color: #FFFFFFFF; 
  background: #3F5235FF;
}
.active {
  color: #FFFFFFFF; 
  background: #82A470FF;  
}
.btn:disabled {
  opacity: 0.4; 
}

.button {
  padding: 10px 20px; 
  font-family: Outfit; 
  font-size: 16px; 
  line-height: 26px; 
  font-weight: 500; 
  color: #171A1FFF; 
  background: #FFFFFFFF;
  opacity: 1; 
  border-radius: 9999px; 
  border-width: 1px; 
  border-color: #F3F4F6FF;
  border-style: solid; 
  cursor: pointer;
}

.button:hover {
  color: #171A1FFF; 
  background: #FFFFFFFF; 
}

.button:hover:active {
  color: #171A1FFF; 
  background: #FFFFFFFF; 
}

.button:disabled {
  opacity: 0.4; 
}

.Grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 1.25rem;

     img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
      aspect-ratio: 3 / 4;
      transition: transform 0.3s ease;

      &:hover {
        transform: scale(1.03);
      }
    }
}