.Espacos {
    background-color: #ffffff;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    


    h2 {
        color: #82A470FF;
        font-size: 48px;
        font-weight: 700;
        line-height: 60px;
        margin: 0;
    }

    p {
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        color: #171A1FFF;
        /* neutral-900 */
        width: 672px;
        text-align: center;
    }
}

.NossosEspacos {
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}
