<header class="header">
  <div class="container">
    <a routerLink="/" class="logo">
      VerdeFlor
    </a>

    <nav class="nav">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
      <a routerLink="/sobre" routerLinkActive="active">
        Sobre
      </a>
      <a routerLink="/espacos" routerLinkActive="active">
        Espaços
      </a>
      <a routerLink="/Pacotes" routerLinkActive="active">
        Pacotes
      </a>
      <a routerLink="/galeria" routerLinkActive="active">
        Galeria
      </a>
      <a routerLink="/reservas" routerLinkActive="active">
        Reservas
      </a>
      <a routerLink="/contato" routerLinkActive="active">
        Contato
      </a>
      <a routerLink="/contact" routerLinkActive="active">
        FAQ
      </a>
    </nav>
  </div>
</header>
